* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

input {
  display: none;
}

html {
  background-color: #ddd;
}

.change-color {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.main {
  display: grid;
  place-content: center;
  place-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 900px;
  transform-style: preserve-3d;
}

.convert {
  position: relative;
  width: calc(min(11vw, 99px));
  height: calc(min(6vw, 54px));
  margin-top: 1%;
  transform: translateY(30%);
  border-radius: 19%;
  background-color: gray;
  order: 1;
}
.convert__element {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 15%;
}
.convert__element:nth-child(1) {
  background-color: #20b2aa;
}
.convert__element:nth-child(2) {
  background-color: #ffb6c1;
  z-index: 2;
}

.animate {
  position: absolute;
  top: calc(50% - 5vw);
  right: 1vw;
  width: calc(min(10vw, 140px));
  height: calc(min(5vw, 70px));
  border-radius: 17%;
}
.animate__element {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: calc((min(1.8vw, 26px)));
  border-radius: 17%;
}
.animate__element:nth-child(1) {
  background-color: #5bb8d4;
}
.animate__element:nth-child(2) {
  background-color: #c73e55;
  z-index: 2;
}

.box {
  position: relative;
  width: calc(min(56vw, 448px));
  height: calc(min(56vw, 448px));
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  transition: all 0.8s;
  background-color: #00000024;
}
.box__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3%;
  transition: all 0.5s;
}
.box__content:nth-child(1) {
  background-color: #f08080;
  transform: rotateX(0deg) translate3d(0, 0, calc(min(28vw, 224px)));
}
.box__content:nth-child(2) {
  background-color: #add8e6;
  transform: rotateX(90deg) translate3d(0, 0, calc(min(28vw, 224px)));
}
.box__content:nth-child(3) {
  background-color: #20b2aa;
  transform: rotateY(270deg) translate3d(0, 0, calc(min(28vw, 224px)));
}
.box__content:nth-child(4) {
  background-color: #ffa07a;
  transform: rotateX(180deg) translate3d(0, 0, calc(min(28vw, 224px)));
}
.box__content:nth-child(5) {
  background-color: #ffb6c1;
  transform: rotateX(270deg) translate3d(0, 0, calc(min(28vw, 224px)));
}
.box__content:nth-child(6) {
  background-color: #90ee90;
  transform: rotateY(90deg) translate3d(0, 0, calc(min(28vw, 224px)));
}
.box__elements {
  display: grid;
  grid-template-columns: repeat(3, 2.8fr);
  grid-template-rows: repeat(3, 2.8fr);
  gap: 3%;
  position: relative;
  width: 100%;
  height: 100%;
}
.box__elements__item {
  position: relative;
  background-color: #808080;
  animation: rotateItem 8s linear infinite;
}
.box__elements__item:nth-child(2) {
  background-color: #ddd;
}
.box__elements__item:nth-child(3) {
  background-color: #808080;
}
.box__elements__item:nth-child(4) {
  background-color: #ddd;
}
.box__elements__item:nth-child(5) {
  background-color: #808080;
}
.box__elements__item:nth-child(6) {
  background-color: #ddd;
}
.box__elements__item:nth-child(7) {
  background-color: #808080;
}
.box__elements__item:nth-child(8) {
  background-color: #ddd;
}
.box__elements__item:nth-child(9) {
  background-color: #808080;
}
.box__elements__label {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.box__elements__label--close {
  display: none;
  position: absolute;
  width: 15%;
  height: 13%;
  background-color: #252525;
  z-index: 4;
}
.box__slide-items {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #20b2ab28;
}
.box__slide-items__label {
  position: absolute;
  width: 14%;
  height: 14%;
  background-color: #5fcc7b;
}
.box__slide-items__label:nth-child(1) {
  top: calc(50% - 7%);
  left: 5%;
}
.box__slide-items__label:nth-child(2) {
  top: calc(50% - 9%);
  right: 5%;
}

.rotation {
  display: grid;
  grid-auto-rows: 98%;
  grid-template-columns: repeat(6, 0.8fr);
  gap: 2.7%;
  position: relative;
  width: calc(min(36vw, 320px));
  height: calc(min(6vw, 52px));
  margin-top: 53%;
  padding: 1.6%;
  background-color: #7e7e7e;
}
.rotation__label {
  background-color: #ddd;
}

@keyframes rotateItem {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  10% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  30% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  60% {
    transform: rotateX(70deg) rotateY(70deg);
  }
  70% {
    transform: rotateX(54deg) rotateY(51deg);
  }
  80% {
    transform: rotateX(239deg) rotateY(137deg);
  }
  90% {
    transform: rotateX(164deg) rotateY(134deg);
  }
  100% {
    transform: rotateX(0deg) translateY(0deg);
  }
}
#t1:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t2:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t3:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t4:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t5:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t6:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t7:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t8:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#t9:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#c1:checked ~ .animate {
  display: none;
}

#c1:checked ~ #n1:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#c2:checked ~ .animate {
  display: block;
}

#n2:checked ~ .animate .animate__element:nth-child(1) {
  z-index: 4;
}

#n2:checked ~ .box .box__elements__item {
  animation: none 8s linear infinite;
}

#c2:checked ~ .convert {
  transform: translateY(30%) translateX(calc(-61% - calc(min(6vw, 44px))));
}

#c2:checked ~ .convert .convert__element:nth-child(1) {
  z-index: 4;
}

#c2:checked ~ .box .box__content:nth-child(1) {
  transform: rotateX(0deg) translate3d(0, 0, calc(min(38vw, 290px)));
  background-color: #f0808066;
}

#c2:checked ~ .box .box__content:nth-child(2) {
  transform: rotateX(90deg) translate3d(0, 0, calc(min(38vw, 290px)));
  background-color: #add8e666;
}

#c2:checked ~ .box .box__content:nth-child(3) {
  transform: rotateY(270deg) translate3d(0, 0, calc(min(38vw, 290px)));
  background-color: #20b2aa66;
}

#c2:checked ~ .box .box__content:nth-child(4) {
  transform: rotateX(180deg) translate3d(0, 0, calc(min(38vw, 290px)));
  background-color: #ffa07a66;
}

#c2:checked ~ .box .box__content:nth-child(5) {
  transform: rotateX(270deg) translate3d(0, 0, calc(min(38vw, 290px)));
  background-color: #ffb6c166;
}

#c2:checked ~ .box .box__content:nth-child(6) {
  transform: rotateY(90deg) translate3d(0, 0, calc(min(38vw, 290px)));
  background-color: #90ee9066;
}

#r1:checked ~ .box {
  transform: translate(0px, 16%) rotateX(-3deg) rotateY(-3deg);
}

#r2:checked ~ .box {
  transform: translate(0px, 16%) rotateX(-3deg) rotateY(-93deg);
}

#r3:checked ~ .box {
  transform: translate(0px, 16%) rotateX(-3deg) rotateY(-183deg);
}

#r4:checked ~ .box {
  transform: translate(0px, 16%) rotateX(-3deg) rotateY(-273deg);
}

#r5:checked ~ .box {
  transform: translate(0px, 16%) rotateX(-3deg) rotateX(102deg) rotateY(48deg);
}

#r6:checked ~ .box {
  transform: translate(0px, 16%) rotateX(-3deg) rotateX(265deg) rotateY(314deg);
}

#r1:checked ~ .rotation .rotation__label:nth-child(1) {
  background-color: #a1a1a1;
}

#r2:checked ~ .rotation .rotation__label:nth-child(2) {
  background-color: #a1a1a1;
}

#r3:checked ~ .rotation .rotation__label:nth-child(3) {
  background-color: #a1a1a1;
}

#r4:checked ~ .rotation .rotation__label:nth-child(4) {
  background-color: #a1a1a1;
}

#r5:checked ~ .rotation .rotation__label:nth-child(5) {
  background-color: #a1a1a1;
}

#r6:checked ~ .rotation .rotation__label:nth-child(6) {
  background-color: #a1a1a1;
}

#t1:checked ~ .box .box__elements__item:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t1:checked ~ .box .box__elements__label {
  display: none;
}

#t2:checked ~ .box .box__elements__item:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t2:checked ~ .box .box__elements__label {
  display: none;
}

#t3:checked ~ .box .box__elements__item:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t3:checked ~ .box .box__elements__label {
  display: none;
}

#t4:checked ~ .box .box__elements__item:nth-child(4) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t4:checked ~ .box .box__elements__label {
  display: none;
}

#t5:checked ~ .box .box__elements__item:nth-child(5) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t5:checked ~ .box .box__elements__label {
  display: none;
}

#t6:checked ~ .box .box__elements__item:nth-child(6) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t6:checked ~ .box .box__elements__label {
  display: none;
}

#t7:checked ~ .box .box__elements__item:nth-child(7) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t7:checked ~ .box .box__elements__label {
  display: none;
}

#t8:checked ~ .box .box__elements__item:nth-child(8) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t8:checked ~ .box .box__elements__label {
  display: none;
}

#t9:checked ~ .box .box__elements__item:nth-child(9) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
}

#t9:checked ~ .box .box__elements__label {
  display: none;
}

#r1:checked ~ #t1:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t2:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t3:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t4:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t5:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t6:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t7:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t8:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}
#r1:checked ~ #t9:checked ~ .box .box__elements__label--close--one {
  display: block;
  top: 0%;
  right: 0%;
}

#r2:checked ~ #t1:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t2:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t3:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t4:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t5:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t6:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t7:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t8:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}
#r2:checked ~ #t9:checked ~ .box .box__elements__label--close--six {
  display: block;
  top: 0%;
  right: 0%;
}

#r3:checked ~ #t1:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t2:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t3:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t4:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t5:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t6:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t7:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t8:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}
#r3:checked ~ #t9:checked ~ .box .box__elements__label--close--four {
  display: block;
  bottom: 0%;
  left: 0%;
}

#r4:checked ~ #t1:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t2:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t3:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t4:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t5:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t6:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t7:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t8:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}
#r4:checked ~ #t9:checked ~ .box .box__elements__label--close--three {
  display: block;
  top: 0%;
  right: 0%;
}

#r5:checked ~ #t1:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t2:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t3:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t4:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t5:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t6:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t7:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t8:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}
#r5:checked ~ #t9:checked ~ .box .box__elements__label--close--five {
  display: block;
  top: initial;
  width: 14%;
  height: 14%;
}

#r6:checked ~ #t1:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t2:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t3:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t4:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t5:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t6:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t7:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t8:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}
#r6:checked ~ #t9:checked ~ .box .box__elements__label--close--two {
  display: block;
  top: 0%;
  width: 14%;
  height: 14%;
}